<nav class="navbar navbar-expand-sm navbar-light ">
      <div class="container">
        <a class="navbar-brand" href="#">
            <img src="" alt="">
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">

                <li *ngIf="isLogin" class="nav-item">
                    <a class="nav-link" routerLink="home">Home</a>
                </li>
                <li *ngIf="isLogin" class="nav-item">
                    <a class="nav-link" routerLink="cart">All</a>
                </li>
                <li *ngIf="isLogin" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Platforms 
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                    </ul>
                  </li>

                  <li *ngIf="isLogin" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        sort-by
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                    </ul>
                  </li>

                  <li *ngIf="isLogin" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categories 
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                    </ul>
                  </li>
            

            </ul>
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0 d-flxe align-items-center justify-content-center">
                

                <li *ngIf="!isLogin" class="nav-item">
                    <a class="nav-link" routerLink="login">Login</a>
                </li>
                <li *ngIf="!isLogin" class="nav-item">
                    <a class="nav-link" routerLink="register">Register</a>
                </li>
                <li *ngIf="isLogin" class="nav-item">
                    <span (click)="logOut()"   class=" cursor-pointer nav-link">Logout</span>
                </li>
                
            </ul>

        </div>
  </div>
</nav>

